# kdev stuff:
*.kdev4
*~

# Qt stuff
build*/*
*.pro.user
duty*/
*.autosave

# Compiled Object files
*.slo
*.lo
*.o

#Compiled Dynamic Libraries
*.so

#Compiled Static LIbraries
*.lai
*.la
*.a

#user pro file
*.user

#OSX 
.DS_Store*
